

<div class="container col-lg-8 col-lg-offset-2">



  <h1 class="text-center">Smart Things Solutions</h1>
  <p class="text-center">Smart Things for Smart Persons...</p>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="item active">
        <img src="../../../assets/fotos/m4985.jpg" alt="Iot" style="width:100%;">
        <div class="carousel-caption">
     
        </div>
      </div>

      <div class="item">
        <img src="../../../assets/fotos/iot.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Interconexión Global</h3>
          <p>Control y Monitoreo de Variables</p>
        </div>
      </div>
    
      <div class="item">
        <img src="../../../assets/fotos/451.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Un paso mas hacia la Industria 4.0</h3>
          <p>Smart Factory</p>
        </div>
      </div>
  
    </div>
